@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #beb7a4;
}
.form-container {
  position: relative;
  background-color: #4b4e6d;
  color: #beb7a4;
  width: 25rem;
  position: absolute;
  top: 20%;
  left: 35%;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
a {
  color: #beb7a4;
}
form {
  width: 350px;
}
.form-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 60px;
}
.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  margin-top: -10px;
}
.flex-container {
  display: flex;
  align-items: center;
}
.btn-container {
  display: flex;
  justify-content: center;
}
input {
  height: 1.5rem;
  border-radius: 10px;
  border: none;
}
input:focus {
  outline: none;
}
.submit-btn {
  justify-self: center;
  border-radius: 5px;
  background-color: #d1495b;
  color: white;
  border: none;
  height: 2.5rem;
  width: 100%;
  transition: all 0.5s 0.5s ease-in-out;
}
.submit-btn:hover {
  color: #d1495b;
  background-color: #beb7a4;
}
.icon {
  background-color: #d1495b;
  color: #beb7a4;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0.25rem;
  margin-right: 10px;
}
.new-user {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.show {
  opacity: 1;
  font-size: 15px;
  color: red;
  background-color: rgb(252, 106, 106);
  width: 100%;
  text-align: center;
  margin-top: 5px;
  z-index: 5;
}
.dont-show {
  opacity: 0;
  margin-top: 5px;
  z-index: 5;
  font-size: 15px;
  color: red;
  background-color: rgb(252, 106, 106);
}
